<h1>Hello, {{.Name}}</h1>
<p>Bio: {{.Bio}}</p>
<p>Height: {{.Height}}</p>

<script>
    const user = {
  "name": "Jon Calhoun",
  "bio": "\u003cscript\u003ealert(\"Haha, you have been h4x0r3d!\");\u003c/script\u003e",
  "age":  123
};
console.log(user.bio);
</script>