{{template "header" .}}

<div>
    <h1 class="text-3xl">Feedback page</h1>
    <div class="py-12">
        <p><label for="name">Input feedback text</label> </p>
        <textarea id="w3review" name="w3review" rows="4" cols="50">
            You can leave your feedback right in this field.
            </textarea>
    </div>
    
</div>


{{template "footer" .}}